<p id="notice"><%= notice %></p>

<div class="headerWrap">
  <h1>User List</h1>
  <div>
    <%= link_to 'Book List', books_path %>
    <%= link_to 'ログアウト', 
      destroy_user_session_path,
      class: 'dropdown-item',
      method: :delete
    %>
  </div>
</div>


<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:id) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= link_to t('views.common.show'), user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
